run = "bundle exec rails server --binding=0.0.0.0 -e development"
hidden = [".bundle"]
modules = ["ruby-3.2:v6-20240209-9e3a339"]

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bundle exec rails server --binding=0.0.0.0"]
build = ["sh", "-c", "bundle exec bin/rails db:migrate && bundle exec bin/rails assets:precompile"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
