<h1>Import Transactions</h1>

<h3>CSV must be in the following format</h3>
<table>
  <thead>
    <tr>
      <td><pre>transaction_date,</pre></td>
      <td><pre>transaction_type,</pre></td>
      <td><pre>btc,</pre></td>
      <td><pre>fiat,</pre></td>
      <td><pre>fiat_currency</pre></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><pre>2024-06-17 00:30:00.000000,</pre></td>
      <td><pre>buy,</pre></td>
      <td><pre>1074000,</pre></td>
      <td><pre>1000,</pre></td>
      <td><pre>CAD,</pre></td>
    </tr>
  </tbody>
</table>

<%= form_with url: upload_import_transactions_url do |form| %>
  <div class="mb-3">
    <%= form.label :transactions_file, class: 'form-label' %>
    <%= form.file_field :transactions_file, class: 'form-control' %>

  </div>
  <%= form.button 'Upload', class: 'btn btn-primary' %>
<% end %>
