<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="transactions">
  <table>
    <thead>
    <tr>
      <td>Time</td>
      <td>Type</td>
      <td>BTC Amount</td>
      <td>Fiat Amount</td>
      <td>Fiat</td>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
        <%= render partial: 'transaction_list_item', locals: { transaction: transaction } %>
    <% end %>
    <% @test.each do |t| %>
      <div><%= t.date %></div>
    <% end %>
    </tbody>

  </table>
</div>

<%= link_to "New transaction", new_transaction_path %>
